[submodule "emacs/dist/git/helm"]
	path = emacs/dist/git/helm
	url = https://github.com/emacs-helm/helm.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/slime"]
	path = emacs/dist/git/slime
	url = https://github.com/slime/slime.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/smartparens"]
	path = emacs/dist/git/smartparens
	url = https://github.com/Fuco1/smartparens.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/dpaste"]
	path = emacs/dist/git/dpaste
	url = https://github.com/gregnewman/dpaste.el.git
	branch = master
	ignore = dirty

[submodule "pythonsh"]
	path = pythonsh
	url = git@github.com:coderofmattie/pythonsh.git
        branch = develop
        ignore = dirty

[submodule "emacs/dist/git/mic-paren"]
	path = emacs/dist/git/mic-paren
	url = https://github.com/emacsattic/mic-paren.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/async"]
	path = emacs/dist/git/async
	url = https://github.com/jwiegley/emacs-async.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/geiser"]
	path = emacs/dist/git/geiser
	url = https://github.com/emacsmirror/geiser.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/magit"]
	path = emacs/dist/git/magit
	url = https://github.com/magit/magit.git
	branch = main
	ignore = dirty

[submodule "emacs/dist/git/compat"]
	path = emacs/dist/git/compat
	url = https://github.com/emacs-compat/compat.git
	branch = main
	ignore = dirty

[submodule "emacs/dist/git/dash"]
	path = emacs/dist/git/dash
	url = https://github.com/magnars/dash.el.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/transient"]
	path = emacs/dist/git/transient
	url = https://github.com/magit/transient.git
	branch = main
	ignore = dirty

[submodule "emacs/dist/git/with-editor"]
	path = emacs/dist/git/with-editor
	url = https://github.com/magit/with-editor.git
	branch = main
	ignore = dirty

[submodule "emacs/dist/git/ts-fold"]
	path = emacs/dist/git/ts-fold
	url = https://github.com/emacs-tree-sitter/ts-fold.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/s"]
	path = emacs/dist/git/s
	url = https://github.com/magnars/s.el.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/geiser-chicken"]
	path = emacs/dist/git/geiser-chicken
	url = https://gitlab.com/emacs-geiser/chicken.git
	branch = master
	ignore = dirty
[submodule "emacs/dist/git/htmlize"]
	path = emacs/dist/git/htmlize
	url = https://github.com/hniksic/emacs-htmlize.git
	branch = master
        ignore = dirty
[submodule "emacs/dist/git/visual-regex"]
	path = emacs/dist/git/visual-regex
	url = https://github.com/benma/visual-regexp.el.git
	branch = master
        ignore = dirty
[submodule "emacs/dist/git/visual-regex-steroids"]
	path = emacs/dist/git/visual-regex-steroids
	url = https://github.com/benma/visual-regexp-steroids.el.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/org-ref"]
	path = emacs/dist/git/org-ref
	url = https://github.com/jkitchin/org-ref.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/f"]
	path = emacs/dist/git/f
	url = https://github.com/rejeep/f.el.git
	branch = master
        ignore = dirty

[submodule "emacs/dist/git/parsebib"]
	path = emacs/dist/git/parsebib
	url = https://github.com/joostkremers/parsebib.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/helm-bibtex"]
	path = emacs/dist/git/helm-bibtex
	url = https://github.com/tmalsburg/helm-bibtex.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/biblio"]
	path = emacs/dist/git/biblio
	url = https://github.com/cpitclaudel/biblio.el.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/hydra"]
	path = emacs/dist/git/hydra
	url = https://github.com/abo-abo/hydra.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/citeproc"]
	path = emacs/dist/git/citeproc
	url = https://github.com/andras-simonyi/citeproc-el.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/queue"]
	path = emacs/dist/git/queue
	url = https://github.com/emacs-straight/queue.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/avy"]
	path = emacs/dist/git/avy
	url = https://github.com/abo-abo/avy.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/request"]
	path = emacs/dist/git/request
	url = https://github.com/tkf/emacs-request.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/helm-frame"]
	path = emacs/dist/git/helm-frame
	url = https://github.com/chee/helm-frame.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/exec-path-from-shell"]
	path = emacs/dist/git/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/ebib"]
	path = emacs/dist/git/ebib
	url = https://github.com/joostkremers/ebib.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/org/org-themes"]
	path = emacs/dist/org/org-themes
	url = https://gitlab.com/OlMon/org-themes.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/docker"]
	path = emacs/dist/git/docker
	url = https://github.com/Silex/docker.el.git
	branch = master
  ignore = dirty

[submodule "emacs/dist/git/tablist"]
	path = emacs/dist/git/tablist
	url = https://github.com/politza/tablist.git
	branch = master
  ignore = dirty

[submodule "emacs/dist/git/aio"]
	path = emacs/dist/git/aio
	url = https://github.com/politza/tablist.git
	branch = master
  ignore = dirty
[submodule "emacs/dist/git/puni"]
	path = emacs/dist/git/puni
	url = https://github.com/AmaiKinono/puni.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/eat"]
	path = emacs/dist/git/eat
	url = https://codeberg.org/akib/emacs-eat.git
	branch = master
	ignore = dirty
[submodule "emacs/dist/git/restclient"]
	path = emacs/dist/git/restclient
	url = https://github.com/pashky/restclient.el.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/company"]
	path = emacs/dist/git/company
	url = https://github.com/company-mode/company-mode.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/company-tabnine"]
	path = emacs/dist/git/company-tabnine
	url = https://github.com/TommyX12/company-tabnine.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/yaml-mode"]
	path = emacs/dist/git/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/bbdb"]
	path = emacs/dist/git/bbdb
	url = https://github.com/emacsmirror/bbdb.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/emacs-lsp-scheme"]
	path = emacs/dist/git/emacs-lsp-scheme
	url = https://codeberg.org/rgherdt/emacs-lsp-scheme.git
	branch = main
	ignore = dirty

[submodule "emacs/dist/git/lsp-mode"]
	path = emacs/dist/git/lsp-mode
	url = https://github.com/emacs-lsp/lsp-mode.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/helm-lsp"]
	path = emacs/dist/git/helm-lsp
	url = https://github.com/emacs-lsp/helm-lsp.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/ht"]
	path = emacs/dist/git/ht
	url = https://github.com/Wilfred/ht.el.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/markdown-mode"]
	path = emacs/dist/git/markdown-mode
	url = https://github.com/jrblevin/markdown-mode.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/git/spinner"]
	path = emacs/dist/git/spinner
	url = https://github.com/Malabarba/spinner.el.git
	branch = master
	ignore = dirty
[submodule "emacs/dist/tree-sitter/python"]
	path = emacs/dist/tree-sitter/python
	url = https://github.com/tree-sitter/tree-sitter-python.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/tree-sitter/html"]
	path = emacs/dist/tree-sitter/html
	url = https://github.com/tree-sitter/tree-sitter-html.git
	branch = master
	ignore = dirty

[submodule "emacs/dist/tree-sitter/java"]
	path = emacs/dist/tree-sitter/java
	url = https://github.com/tree-sitter/tree-sitter-java.git
	branch = master
	ignore = dirty
[submodule "emacs/dist/tree-sitter/bash"]
	path = emacs/dist/tree-sitter/bash
	url = https://github.com/tree-sitter/tree-sitter-bash.git
	branch = master
[submodule "emacs/dist/git/casual"]
	path = emacs/dist/git/casual
	url = https://github.com/kickingvegas/casual-calc.git
	branch = main
[submodule "emacs/dist/git/casual-lib"]
	path = emacs/dist/git/casual-lib
	url = https://github.com/kickingvegas/casual-lib.git
	branch = main
[submodule "emacs/dist/git/llma"]
	path = emacs/dist/git/llma
	url = https://github.com/tarsius/llama.git
	branch = main

