[Desktop Entry]
Encoding=UTF-8
Name=Emacs(GIT)
Terminal=false
Type=Application
Icon=@HOME@/tools/emacs-icon.png
StartupNotify=true
Exec=@HOME@/tools/local/bin/emacs
